div#landing {
    width: 100%;
    height: 60%;
    background-image: url(../img/lp6.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;
  
}

h1.h1l {
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    color: orangered;
  
}

.cont {
    display: flex;
    flex-direction: row;
}

.lansr, .lbtn {
    margin-left: 10px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
}

.lansr {
    width: 100%;
    padding: 15px;
}

.lansr:focus {
    border-color: black;
    outline: 0;
    -webkit-box-shadow: inset 0 0 2px #0000ff;
    box-shadow: inset 0 0 2px #0000ff;
}

.lbtn {
    width: 300px;
    background-color: orange;
    color: white;
}

.lbtn:hover {
    background-color: rgb(233, 135, 6);
}

.lbtn:active {
    background-color: rgb(238, 120, 78);
}

.lbtn:focus {
    outline: 0;
}

.mainl {
    width: 90%;
    max-width: 100%;
    margin: 20px 5%;
}

.catland {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.icon {
    height: 150px;
    max-width: 400px;
}

.name {
    height: 50px;
    max-width: 400px;
    background-image:linear-gradient(to bottom right, orangered , orange,orangered);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px
}

.cl {
    height: 200px;
    max-width: 400px;
    background-color: white;
    border: 1px solid black;
    margin-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .lansr {
        width: 100%;
    }
    .catland {
        display: flex;
        justify-content: flex-start;
        align-content: space-around;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
    }
    .cl {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-shrink: 2;
    }
}

@media screen and (max-width: 767px) {
    div#landing {
        display: flex;
        flex-direction: column;
    }
    h1.h1l {
        font-size: 90px;
    }
    .cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lansr, .lbtn {
        display: flex;
        height: 40px;
        width: 100%;
        margin: 10px;
        flex-grow: 2;
        flex-shrink: 2;
    }
    .lbtn {
        padding: 0
    }
    .catland {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .cl {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        flex-grow: 2;
        flex-shrink: 2;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lansr {
        width: 100%;
    }
    .catland {
        display: flex;
        justify-content: flex-start;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .cl {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 280px;
        flex-grow: 2;
        flex-shrink: 2;
        margin-left: 20px;
        margin-bottom: 20px
    }
}