div#landing {
    width: 100%;
    height: 60%;
    background-image: url(../img/lp9.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;
  
}

h1.h1l {
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    color: orangered;
  
}

.cont {
    display: flex;
    flex-direction: row;
}

.lansr, .lbtn {
    margin-left: 10px;
   
}

.lansr {
    width: 100%;
    
}



.lbtn{
    width: 200px;
    border-radius: 4px;
}


.mainl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;

}

.catland {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;

}

.icon {
    height: 150px;
    max-width: 400px;
}

.name {
    height: 50px;
    max-width: 400px;
    background-image:linear-gradient(to bottom right,rgb(143, 182, 62) , white,rgb(143, 182, 62));
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 24px
}

.cl {
    height: 200px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    margin: 20px; 
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .lansr {
        width: 100%;
    }
    .catland {   
        display: flex;
        flex-direction: row;
    }
    .cl {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex: 2 1 calc(25% - 50px);  
    }
}

@media screen and (max-width: 767px) {
    div#landing {
        display: flex;
        flex-direction: column;
    }
    h1.h1l {
        font-size: 90px;
       
    }
    .cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lansr, .lbtn {
        display: flex;
        height: 40px;
        width: 100%;
        margin: 10px;
        flex-grow: 2;
        flex-shrink: 2;
    }
    .lbtn {
        padding: 0
    }
    .catland {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .cl {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 15px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lansr {
        width: 100%;
    }
    .catland {
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .cl {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 15px;
    }
}

