* {box-sizing: border-box;margin: 0;padding: 0;}
.non-scroll {overflow-y: hidden; overflow-x: hidden;}
html , body {font-family: 'Krub', sans-serif;/*font-family: Nunito Sans,Helvetica Neue,Helvetica,Arial,sans-serif;*/background-color: #efefef;line-height: 1.5;}
body {color: #333;overflow-x: hidden;font-size: 16px;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.clearfix {clear: both;}
.row , nav , header{display: flex;}
.row {flex-wrap: wrap;}
header {justify-content: space-between;}
aside, .empty {flex: 30%;}
main, .searchy {flex: 70%;}
.container {padding: 25px;}
a, a:link, a:visited {
  color: #1264a3;
  text-decoration: none;
}
.marg-top {margin-top: 20px;}

.forma .inp:focus {
  border-color:rgba(143, 182, 62,.9);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 182, 62,.6); 
  }
.forma {margin-top: 10px;}
.inp, .za-formu , .sort {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(143, 182, 62, .3);
  border-radius: 4px;
}
 input.search:focus{ border-color:black;
  outline: 0;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;}
.search , .searchbtn {
  border:1px solid black;
}
.za-formu {margin: 20px 0 10px; }
.searchbtn {background-color: orange;color: white;margin: 0;transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5 ease-in 0s;
  -ms-transition: all 0.5 ease-in 0s;}
.searchbtn:hover{background-color: rgb(233, 135, 6);}
.searchbtn:active{background-color: rgb(238, 120, 78);}
.searchbtn:focus{outline: 0;}
input[type="checkbox"] {
  vertical-align: middle;
}
.sortby {justify-content: space-between;padding:20px 0;}
.sort {width: 50%;}
#catname , .sort {padding: 10px}
@media screen and (max-width: 767px) {
    .row , nav {flex-direction: column;}
    .container {padding: 15px;}
  .search {margin-bottom: 10px}
  .sort {width: 100%;}
  }
  @media screen and (min-width: 768px) {
    .non-scroll {padding-right: 15px;}
    .search , .searchbtn , .sort { max-height: 40px;}
    .search:first-child {
      flex:40%;
    }
     .search:nth-child(2) {
      flex:30%;
    }
    .movebtn {flex: 15%;margin: 0;}
    .search:nth-child(2) {margin-left: 15px;margin-right: 15px;}
  }  

  
  .ana-m {background-color: rgb(143, 182, 62);}
  .ana {background-color: rgb(65, 82, 99);color: #fff;}
  .mirjana {background-color:rgb(249,192,52);height: 1000px;}
  .jelena {background-color: white;height: 1000px;}
  
