.moj-modal{display: none} 
.moj-modal.opened{
	display: block;
   -webkit-animation: pokazime .3s; 
   animation: pokazime .3s;
}
@-webkit-keyframes pokazime {
  from {opacity: 0.2;}
  to {opacity: 1;}
}
@keyframes pokazime {
  from {opacity: 0.2;}
  to {opacity: 1;}
}
.moj-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.6);
  z-index: 150;
}
.modal-content {
  position: absolute;	
  background: #efefd6;
  border-radius: .25rem;
  left:50%;top:120px;margin-left: -250px;
  display: table-cell; width: 500px; 
  text-align: center; padding: 2rem ; border:1px solid #ddd;box-shadow: 5px 5px 12px;
}
.close {
  color: #70a045;
  position: absolute;
  right:5px;
  top:-5px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover , .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
.modal-content {
   width: 98%;
   margin-left:0;
   left: 1%;
   top:30px; 
  }
}
