html , body {background-color: #efefd6;}
.hidden {display: none !important;}
.kontejner , .glavni , .ukratko_tekst , .opis_oglasa {display: flex;}
.kontejner ,.ukratko_tekst , .sadrzaj{flex-direction: row;}
.glavni , .opis_oglasa{flex-direction: column;}
.glavni_oglas , .responsive , .naslov , .previmg , .opis_oglasa{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.glavni_oglas , .sadrzaj , .naslov , .opis_oglasa{border-radius: 3px;}
.ukratko_tekst , .naslov {padding: 1%;}
.asidee {flex: 20%;}
.glavni {flex: 80%;}
.glavni_oglas {margin-top: 35px;}
.sadrzaj {background-color: #fff;justify-content: space-between;}
.slike {
  flex: 40%;
 /* max-width: 500px;
  max-height: 300px;*/
}
.responsive {height: 300px;display: block;width: 100%;}
.ukratko {flex: 60%;}
.naslov {
  flex: 90%;
  max-height: 200px;
  margin-top: -10%;
  margin-bottom: 5%;
  background-color: #658295;
  color: #efefd6;
  text-shadow: 2px 2px 5px #03091d;
}
.s_leva {flex: 60%}
.s_desna {flex: 40%;}
.s_leva div , .s_desna div {border-bottom: 1px solid #658295;}
.opis_oglasa {
  margin-top: 3%;
  background-color: #658295;
  color: #efefd6;
}
p {
  text-align: justify;
  margin: 2% 2% 2% 2%;
  flex-flow: wrap;
  text-shadow: 2px 2px 5px #03091d;
}
.previmg {
  display: block;
  margin: 10px auto;
  max-height: 130px;
  max-width: 200px;
  border: 5px solid white;
}

@media only screen and (max-width: 767px) {

   .kontejner , .glavni , .ukratko , .opis_oglasa , .aside-slike {flex-direction: column;}
   .glavni {order: 1;flex: 100%;}
   .asidee {order: 2;}
   .aside_slike_kontejner {display: none;}
   .kontejner {padding: 0 10px;}
              .carousel , .slike {
			  display: block;
			    height: 400px;
			}
			.glavni_oglas , .opis_oglasa{width: 95%;margin-left: auto;margin-right: auto;}
    .responsive {
    	   display: block;
           width: 100%;
           height: 400px;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 15%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    .ukratko {
      max-width: 100%;
      height: auto;
       margin-top: 100px;
     }
     .ukratko_tekst {flex: 50%;}
}
@media only screen and (min-width: 768px) {
   .kontejner {padding-right: 10px;margin-top: 20px;}
     .previmg {
   display: block;	
   margin: 10px auto 20px;
   max-height: 130px;
   max-width: 200px;
   border: 5px solid white;
}

   }
@media only screen and (min-width: 768px) and (max-width: 991px) {
           .kontejner {padding-right: 10px;}
           .glavni_oglas , .opis_oglasa{width: 95%;}
           .sadrzaj {display: block;width: 100%;margin-left: auto;margin-right: auto;}
           .carousel , .slike {
			  display: block;
			    height: 400px;
			}
           .responsive {
             display: block;
           width: 100%;
           height: 400px;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 15%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    .ukratko {
      margin-top: 70px;
      max-width: 100%;
      height: auto;
     }
     .ukratko_tekst {flex: 50%;}
}
@media only screen and (min-width: 992px) {
	.sadrzaj {display: flex;}
.naslov {margin-left: 5%;}
.s_leva {margin-left: 2%;}
}
@media only screen and (min-width: 1400px) {
.naslov {margin-top: -5%;}
}
.moj-modal p {text-shadow: none; margin: 0;}