html,
body {
    color: #03091d;
    background-color: #efefd6;
}

.kontejner,
.asidee,
.glavni,
.sadrzaj,
.kalkulator,
.opis_oglasa,
.ukratko,
.ukratko_tekst {
    display: flex;
}


/* .responsive {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
} */

.kontejner,
.sadrzaj,
.kalkulator {
    flex-direction: row;
}

.asidee,
.glavni,
.ukratko,
.opis_oglasa {
    flex-direction: column;
}

.kontejner {
    margin-top: 3%;
}

.asidee {
    flex: 20%;
}

.kalkulator {
    flex: 15%;
}

.aside_slike,
.ukratko,
.opis_oglasa {
    background: white;
}

.aside_slike {
    margin-top: 10%;
    margin: auto;
    flex-direction: column;
    max-height: 130px;
    max-width: 200px;
    padding: 5px;
}

.aside_kalkulator {
    margin: 10% 30% 50% 30%;
    flex-direction: column;
    max-height: 120px;
    max-width: 190px;
    border: 5px solid white;
}


/* div glavni */

.glavni {
    flex: 65%;
}

.slike,
.ukratko,
.aside_slike,
.opis_oglasa,
.aside_kalkulator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p,
.slike,
.ukratko,
.opis_oglasa {
    /* margin: 10px 10px 10px 10px; */
    margin: 3% 2% 2% 2%;
}

.slike {
    flex: 50%;
    max-width: 500px;
    max-height: 300px;
}

.ukratko {
    flex: 50%;
}

.naslov {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.s_leva {
    margin-left: 8%;
    margin-right: 10%;
}

p {
    margin: 2% 2% 2% 2%;
    flex-flow: wrap;
}


/* @media screen and (min-width: 992px) {}

@media screen and (max-width: 767px) {
    .glavni,
    .sadrzaj {
        display: flex;
        width: 100%;
        height: auto;
    }
    .glavni {
        flex-direction: row;
        width: 100%;
    }
    .sadrzaj,
    .slike,
    .ukratko {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .glavni,
    .sadrzaj,
    .asidee {
        display: flex;
        width: 50%;
        height: auto;
    }
    .glavni {
        flex-direction: row;
        width: 100%;
    }
    .sadrzaj,
    .slike,
    .ukratko,
    .aside_slike {
        flex-direction: column;
        width: 100%;
    }
} */